# Built application files
*.apk
*.ap_

# Java class files
*.class

# Android Studio / IntelliJ IDEA
*.iml
.idea
/build
build/
**/build
/captures

# Ignore gradle files
.gradle
/gradle
*.gradle
gradle.properties
gradlew
gradlew.bat

# Local configuration
local.properties
